*{
  margin: 0;
  padding: 0;
  font-family: "Century Gothic", Arial, Verdana;
}

body{
  text-align: center;
}

a{
  text-decoration: none;
}


.top-line{
  border: 2.5px solid rgb(0, 179, 255);
}

.header-contact{
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  background-color: #f6f7fb;
  border-bottom: 1px solid #e6e9ee;
}

.header-contact .left-side{
  display: flex;
  gap: 1rem;
}

.left-side a{
  color: #333333;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.left-side a i{
  color: #0066FF;
  font-size: 14px;
}

.header-contact .right-side{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.right-side a {
  /* padding: 5px; */
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  font-size: 14px;
  border: 1px solid #e6e9ee;
  border-radius: 4px;
}

.right-side a i{
  color: #0066FF;
  font-size: 14px;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  border-bottom: 1px solid #e6e9ee;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

nav .logo{
  width: 100px;
  height: 100px;
}

nav ul{
  list-style: none;
  display: flex;
  gap: 2rem;
  
}

nav ul li a{
  color: #333333;
}