* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: black;
}

header {
  background-color: #f5f5f5;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  padding: 7px 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100%;
}

nav img {
  height: 100px;
  width: auto;
  margin-left: 90px;
  margin-top: 15px;
}

nav a {
  text-decoration: none;
  padding: 15px;
  transition: background-color 0.3s ease;
  color: black;
}

nav a:hover {
  background-color: rgb(1, 1, 54);
  color: white;
}

main {
  padding: 20px;
  margin: 20px;
  background-color: white;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}
